{% extends 'base.html' %}
{% block conteudo %}

<div class="card border-secondary shadow">
  <div class="card-header bg-secondary text-white text-center">
      <h5 class="mb-0">📚 Listagem</h5>
  </div>

  <hr class="featurette-divider">
  {% for cont in contato %}
  <div class="row featurette align-items-center mb-4">
    <div class="col-md-8">
      <h2 class="featurette-heading fw-bold">{{ cont.nome }} {{ cont.sobrenome }}</h2>
      <p class="lead mb-1"><strong>Telefone:</strong> {{ cont.telefone }}</p>
      <small>{{ cont.descricao }}</small>

      <div class="d-flex mt-4">
        <a href="{% url 'core:editarContato' cont.id %}" class="btn btn-info me-2">Alterar</a>
        <a href="{% url 'core:excluirContato' cont.id %}" class="btn btn-danger">Excluir</a>
      </div>
    </div>

    <div class="col-md-4 text-end">
      {% if cont.imagem %}
        <img src="{{ cont.imagem.url }}" alt="Foto de {{ cont.nome }}" class="img-fluid rounded shadow" width="120" height="120">
      {% else %}
        <span class="text-muted">Sem imagem</span>
      {% endif %}
    </div>
  </div>
  {% empty %}
    <p class="text-center">Nenhum contato cadastrado.</p>
  {% endfor %}

  <hr class="my-3">
</div>

{% endblock %}
